@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.caveat-alpha-label {
  font-family: 'Caveat', cursive !important;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
