/* Tweaks to MapLibre styling to make it more similar to Joy UI */

.maplibregl-ctrl-group:not(:empty) {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.maplibregl-ctrl-group button {
  width: 34px;
  height: 34px;
  display: flex;
}
